*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/Bringbold\ Nineties\ Demo.ttf");
}
body{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.main-text-div {
    width: 40%;
    height: 100%;
    margin-top: 70px;
    margin-right: 100px;
}
.main-text-div > h2{
    font-size: 75px;
    color: white;
    font-family: "TitleFont", sans-serif;
}
.main-text-div > span{
    font-family: "TitleFont", sans-serif;
    font-size: 20px;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 500px;
    background-color: #30363a;
    margin-top: 150px;
    margin-right: 80px;
    border-radius: 20px;
}
.container > h2{
    font-size: 48px;
    font-family: "TitleFont";
    color: white;
    margin-top: 50px;
}
#icon {
    position: absolute;
    margin-top: 55px;
    font-size: 20px;
    color: #23272a;
    cursor: pointer;
    margin-left: 350px;
}
#astrisk{
    position: absolute;
    margin-top: 15px;
    font-size: 10px;
    color: darkred;
    cursor: pointer;
    margin-left: 380px;
}
#email-field{
    width: 380px;
    height: 50px;
    background-color: #30363a;
    margin-top: 40px;
    border: 3px solid #23272a;
    font-family: "TitleFont", sans-serif;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: white;
}
#password-field{
    width: 380px;
    height: 50px;
    background-color: #30363a;
    margin-top: 40px;
    border: 3px solid #23272a;
    font-family: "TitleFont", sans-serif;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: white;
}
#create-account-link {
    position: absolute;
    font-size: 18px;
    color: white;
    margin-left: 55px;
    margin-top: 20px;
    font-family: "TitleFont", sans-serif;
}
#btn{
    width: 90%;
    height: 60px;
    margin-top: 70px;
    background-color: #30363a;
    border: 3px solid #23272a;
    border-bottom-width: 10px;
    border-radius: 10px;
    font-family: "TitleFont", sans-serif;
    font-size: 23px;
    color: #23272a;
    margin-left: 20px;
}
.signup {
    display: none;
}
.signup > h2 {
    font-size: 40px;
}
.signup #btn{
    margin-top: 30px;
}
@media screen and (max-width: 400px){
    body{
        flex-direction: column;
    }
    .main-text-div {
        width: 100%;
        margin-left: 120px;
        margin-top: 100px;

    }
    .main-text-div > h2 {
        font-size: 41px;
    }
    .container {
        margin-left: 65px;
        width: 85%;
        margin-top: 50px;
    }
    .container > h2{
        font-size: 35px;
    }
    #email-field{
        width: 250px;
        margin-left: 0px;
    }
    #password-field{
        width: 250px;
        margin-left: 0px;
    }
    #create-account-link{
        font-size: 15px;
        margin-left: 15px;
    }
    #btn{
        margin-left: 10px;
    }
    #icon{
        margin-left: 230px;
    }
    #astrisk{
        margin-left: 230px;
    }
    .signup > h2{
        font-size: 28px;
    }
}